<footer class="footer col-md-12">
    <div class="contacts col-md-4">
        <h3>Контакты</h3>
        <div class="contacts__address">
            <p>
                <span class="contacts__title">Адрес:</span>
                629851, ЯНАО, г.Тарко-Сале, ул.Таежная, 23
            </p>
            <p>
                <span class="contacts__title">Телефон:</span>
                +7 (34997) 2-15-01
            </p>
            <p>
                <span class="contacts__title">Email:</span>
                <a class="footer__link" href="mailto:11-pchfps@mail.ru">11-pchfps@mail.ru</a>
            </p>
        </div>
    </div>
    <div class="social col-md-4">
        <h3>Социальные сети</h3>
        <ul class="list-inline">
            <li class="social__item social__item_vk"><a href="" class="social__link fa fa-vk"></a></li>
            <li class="social__item social__item_ok"><a href="" class="social__link fa fa-odnoklassniki"></a></li>
        </ul>
    </div>
    <div class="col-md-4"></div>
    <div class=""></div>
    <div class="clearfix"></div>

    <div class="footer__copyright col-md-12">
        © Copyright 2017. All rights reserved by
        <a class="footer__link" href="https://github.com/krysanoff" target="_blank">Eugene Krysanov</a>
    </div>
</footer>