<section class="header">
        <div class="header__logo col-md-2">
            <div>
                <img class="header__image" src="{{ asset('images/logo.svg') }}" alt="">
            </div>
            <div class="header__info">
                <p>{{ 'location.fire_department' | trans({}, 'main') }}</p>
                <p>{{ 'location.city' | trans({}, 'main') }}</p>
            </div>

        </div>
        <div class="header__content col-md-8">
            <h1>{{ header_content ?: 'site.name' | trans({}, 'main') }}</h1>
        </div>
        <div class="header__menu col-md-2">
            <span class="header__hamburger glyphicon glyphicon-menu-hamburger"></span>
        </div>
</section>