<section class="header">
        <div class="header__logo col-md-2">
            <div>
                <img class="header__image" src="{{ asset('images/logo.svg') }}" alt="">
            </div>
            <div class="header__info">
                <p>11 пожарная часть</p>
                <p>Тарко-Сале</p>
            </div>

        </div>
        <div class="header__content col-md-8">
            {% block header_content %}
                <h1>Firefighter Info Service</h1>
            {% endblock %}
        </div>
        <div class="header__menu col-md-2">
            <span class="header__hamburger glyphicon glyphicon-menu-hamburger"></span>
        </div>
</section>