<!DOCTYPE html>
<html>
    {% include 'blocks/head.html.twig' with {title: block('title')} %}

    <body>
        <div class="wrapper">
            {% include 'blocks/header.html.twig' with {header_content: block('header_content')} %}

            <div class="container">
                <div class="row">
                    {% block content %}{% endblock %}
                </div>
            </div>

            {% include 'blocks/footer.html.twig' %}
        </div>
    </body>

    <!-- Javascripts-->
    {% block javascripts %}{% endblock %}
</html>
