<!DOCTYPE html>
<html>
    {{ include('admin/blocks/head.html.twig') }}

    <body class="inner_mod">

        {{ include('admin/blocks/header.html.twig') }}

        <div class="wrapper">
            <div class="base">

                {{ include('admin/blocks/nav.html.twig') }}

                <div class="container col-lg-9 clearfix">
                    {% block content %}{% endblock %}
                </div>

            </div>

            {{ include('admin/blocks/footer.html.twig') }}

        </div>



        {% block javascripts %}{% endblock %}

    </body>
</html>
