{% extends '::base_admin.html.twig' %}
{% block title %}Content manager page || Employees{% endblock %}

{% block content %}
    <h2 class="content_title">Список сотрудников</h2>
    {{ include('flash-messages.html.twig') }}
    <div class="user_add">
        <a href="{{ path('admin_employee_new') }}" class="user__actions btn btn-block btn-lg btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            New employee
        </a>
    </div>

{% endblock %}
