{% extends '::base_admin.html.twig' %}
{% block title %}Content manager page || Users{% endblock %}

{% block content %}

    {% if user %}
        {{ dump(user) }}
        <li class="user__item">
            <div class="user__name"></div>
            <div class="user__actions">
                <a href="{{ path('admin_users_page') }}" class="user__action"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="{{ path('admin_user_delete', {'user': user.id}) }}" class="user__action"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </li>
    {% else %}
        <div class="caveat">
            <p>Пользователь с данным id не найден.</p>
            <p>Посмотреть список всех пользователей можно на этой
                <a href="{{ path('admin_users_page') }}">странице</a></p>
        </div>
    {% endif %}

{% endblock %}
