<nav class="navy col-lg-2">
    <ul class="nav nav-pills nav-stacked">
        <li class="navy__item">
            <a href="{{ path('admin_users_page') }}" class="navy__link">Администраторы сайта</a>
        </li>
        <li class="navy__item">
            <a href="{{ path('admin_employees_page') }}" class="navy__link">Сотрудники</a>
        </li>
        <li class="navy__item">
            <a href="" class="navy__link">Водоисточники</a>
        </li>
        <li class="navy__item">
            <a href="{{ path('logout') }}" class="navy__link">Выход</a>
        </li>
    </ul>
</nav>